<template>
  <div
    class="about"
  >
    <h1 class="title">{{ message }}</h1>
    <h1 class="anything">Data from Vuex: {{ count }}</h1>
    <h1 class="anything">{{ dynamicWord }}</h1>
    <h1 class="anything">counter: {{ number }}</h1>
    <button
      v-on:click="number = 0"
    >
      reset counter
    </button>
    <button
      v-on:click="reset_increment"
    >
      reset state count
    </button>
    <div class="nav">
      <button
        v-on:click="switchSide('A')"
      >
        Side A
      </button>
      <button
        v-on:click="switchSide('B')"
      >
        Side B
      </button>
    </div>
    <hr>
    <div class="content">
      <PGSideA
        v-if="pointer === 'A'"
        v-on:changeWord="changeWord"
      />
      <PGSideB
        v-else
        v-on:changeWord="changeWord"
      />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import PGSideA from '@/components/PlayGroundSideA.vue';
import PGSideB from '@/components/PlayGroundSideB.vue';

export default {
  name: 'playground',
  components: {
    PGSideA,
    PGSideB
  },
  data() {
    return {
      message: 'This is our god damn playground',
      number: 0,
      dynamicWord: 'idle',
      pointer: 'A'
    };
  },
  methods: {
    add(number) {
      this.number += number;
    },
    switchSide(side) {
      this.pointer = side;
    },
    changeWord(word, number) {
      this.dynamicWord = word;
      this.add(number);
    },
    reset_increment() {
      this.$store.state.count = 0;
    }
  },
  computed: {
    count() {
      return this.$store.state.count;
    }
  }
};
</script>

<style scoped lang="scss">
.about {
  button {
    margin: 5px;
  }

  .title {
    font-size: 24px;
  }

  .anything {
    font-size: 20px;
  }

  .nav {
    .link {
      padding: 10px;
    }
  }

  .view {
    margin-top: 10px;
  }
}
</style>
