<template>
  <div class="pg-a">
    <p>This is Side A</p>
    <button
      v-on:click="$emit('changeWord', 'message from a, adding 1', 1)"
    >
      counter +1
    </button>
    <div>
      <button
        v-on:click="increment"
      >
        state count +1
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'playground-side-a',
  methods: {
    increment() {
      this.$store.commit('increment', 1);
    }
  }
};
</script>

<style scoped lang="scss">
.pg-a {
  button {
    margin: 5px;
  }
}
</style>
