<template>
  <div>
    <p>This is Side B</p>
    <button
      v-on:click="$emit('changeWord', 'message from b, adding 2', 2)"
    >
      counter +2
    </button>
  </div>
</template>

<script>
export default {
  name: 'playground-side-b'
};
</script>
